<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recode Viagens - Login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

    <link rel="stylesheet" href="./assets/css/style.css">
    
    <script type="text/javascript" src="./assets/js/script.js" async></script> 

    <link rel="shortcut icon" href="./assets/image/favicon.ico" type="image/x-icon">

	<script>
	document.addEventListener('DOMContentLoaded', function() {
		// Função para obter os parâmetros da URL
		function obterParametrosUrl() {
			var params = {};
			window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(
					str, key, value) {
				params[key] = value;
			});
			return params;
		}

		var parametros = obterParametrosUrl();
		if (parametros.naoLogado === 'true') {
			var aviso = document.getElementById('avisoPerfil');
			aviso.style.display = 'block';
			aviso.addEventListener('click', function() {
				aviso.style.display = 'none';
				var urlSemParametro = window.location.href.split('?')[0];
				window.history
						.replaceState({}, document.title, urlSemParametro);
			});

			// Define um temporizador para esconder o aviso após 5 segundos (5000 milissegundos)
			setTimeout(function() {
				aviso.style.display = 'none';
				var urlSemParametro = window.location.href.split('?')[0];
				window.history
						.replaceState({}, document.title, urlSemParametro);
			}, 5000);
		}
	});
</script>

</head>
<body>

	<div class="toast align-items-center avisoPerfil" id="avisoPerfil"
		style="display: none;" aria-live="assertive" aria-atomic="true"
		role="alert">
		<div class="toast-body bg-success text-white">Faça login para poder reservar uma viagem! Clique para fechar.</div>
	</div>
    <!-- Menu Principal-->
    <header class="container">
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary shadow-sm" id="menu">
            <div class="container-fluid">
                <a href="./Index.jsp" class="navbar-brand fs-2"> <img src="./assets/image/voo-de-aviao.png" width="50" height="50" alt=""> Recode Viagens</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-row-reverse" id="navbarContent">
                    <ul class="navbar-nav d-flex align-items-center">
                        <li class="nav-item">
                            <a href="./Index.jsp" class="nav-link"> <i class="fas fa-home"></i> Página Principal</a>
                        </li>
                        <li class="nav-item">
                            <a href="Destinos" class="nav-link"> <i class="fas fa-map-marked-alt"></i> Destino</a>
                        </li>
                        <li class="nav-item">
                            <a href="Promocoes" class="nav-link"> <i class="fas fa-tags"></i> Promoções</a>
                        </li>
                        <li class="nav-item">
                            <a href="./views/Contato.jsp" class="nav-link"><i class="fas fa-phone"></i> Contato</a>
                        </li>
                        <li class="nav-item">
                            <a href="Cadastro" class="nav-link"><i class="fas fa-user-edit"></i> Cadastro</a>
                        </li>
                        <li class="nav-item">
                            <a href="login.html" class="nav-link active"><i class="fas fa-sign-in-alt"></i> Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Hero -->
    <div class="text-center bg-image p-5 hero">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100 w-100">
                <div class="text-white">
                    <h1 class="mb-3">#Login</h1>
                    <h4 class="mb-3">Entre e escolha o destino dos seus sonhos</h4>
                </div>
            </div>
        </div>
    </div>

    <!-- Área Principal -->
    <main class="container-fluid mb-6">
        <section class="vh-75 mt-5">
            <div class="container h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                  <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                      <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
          
                          <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Login</p>
          
                          <form class="mx-1 mx-md-4" action="Autenticacao" id="formLogin" method="post">
          
                            <div class="d-flex flex-row align-items-center mb-4">
                              <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0">
                                <input type="email" id="loginEmail" class="form-control" name="email" required/>
                                <label class="form-label" for="loginEmail">Seu E-mail</label>
                              </div>
                            </div>
          
                            <div class="d-flex flex-row align-items-center mb-4">
                              <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0">
                                <input type="password" id="loginSenha" class="form-control" name="senha" required/>
                                <label class="form-label" for="loginSenha">Senha</label>
                              </div>
                            </div>
          
                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                              <button type="submit" class="btn btn-primary btn-lg">Fazer Login</button>
                            </div>
          
                          </form>
          
                        </div>
                        <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
          
                          <img src="./assets/image/travelers-2.jpg"
                            class="img-fluid" alt="Viajantes 2">
          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    </main>

    <footer class="mt-5">
        <section class="container-fluid my-4">
            <div class="row">
                <div class="col mb-4">
                    <h5>Recode Viagens</h5>
                    <p><span class="fw-semibold">Endereço: </span>Avenida das Viagens, 100 - São Paulo, SP. CEP: 08123-456</p>
                    <p><span class="fw-semibold">Tel.:</span> (11)4321-1234 / (11)91234-5678</p>
                    <p><span class="fw-semibold">E-mail: </span> RecodeViagens@viagens.com.br</p>
                </div>

                <div class="col mb-4">
                    <h5>Sobre</h5>
                    <p><a href="#" class="linksFooter fw-semibold">Sobre nós</a></p>
                    <p><a href="#" class="linksFooter fw-semibold">Política de Privacidade</a></p>
                    <p><a href="#" class="linksFooter fw-semibold">Termos e Condições</a></p>
                    <p><a href="#" class="linksFooter fw-semibold">Entre em Contato</a></p>
                </div>

                <div class="col mb-4">
                    <h4>Siga-nos</h4>
                    <div class="fs-2">
                       
                        <i class="fab fa-instagram redeSocial mx-1"></i>
                        <i class="fab fa-facebook-f redeSocial mx-1"></i>
                     
                        <i class="fab fa-twitter redeSocial mx-1"></i>
                        <i class="fab fa-tiktok redeSocial mx-1"></i>
                        
                    </div>
                </div>
                
                <div class="col">
                    <h5>Formas de Pagamento</h5>
                    <span class="bg-image">
                        <img src="./assets/image/payment-method.jpg" alt="Métodos de Pagamento" style="width: 300px; height: 100px;">
                    </span>
                </div>
            </div>
            <div class="container text-center my-3">
                <p>	&copy; 2023, Manoel - Todos os Direitos Reservados à Recode Viagens</p>
            </div>
        </section>
    </footer>

</body>
</html>